# 1. CPU
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y

# 2. BT off (see sdkconfig.defaults - not needed)
CONFIG_BT_ENABLED=n
CONFIG_BT_CONTROLLER_ONLY=y
CONFIG_BT_LE_SLEEP_ENABLE=y
CONFIG_BT_LE_HCI_INTERFACE_USE_RAM=y

# 3. Partition table (see sdkconfig.defaults)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_eh_cp_ota_4m.csv"

# 4. Mempool
CONFIG_ESP_CACHE_MALLOC=y

# 5. WiFi buffer/perf tuning (Espressif's own reference values for this pairing)
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=20
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=64
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=64
CONFIG_ESP_WIFI_AMPDU_TX_ENABLED=y
CONFIG_ESP_WIFI_TX_BA_WIN=32
CONFIG_ESP_WIFI_AMPDU_RX_ENABLED=y
CONFIG_ESP_WIFI_RX_BA_WIN=32
CONFIG_ESP_WIFI_RX_IRAM_OPT=y
CONFIG_ESP_WIFI_IRAM_OPT=y

CONFIG_COMPILER_OPTIMIZATION_PERF=y
